html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
}
body {
  flex-direction: column;
  display: flex;
}
.content {
  flex: 1 0 auto;
}
a {
  text-decoration: none;
}
a:focus {
  outline-style: solid;
  outline-color: #222ba0;
  outline-width: thin;
}
.skip-header {
  background-color: #ebfbea;
  border-radius: 10px;
  color: #a0222b;
  font-size: 15px;
  left: 50%;
  margin: 0 auto;
  padding: 0 7px;
  position: fixed;
  text-decoration: none;
  top: -50px;
  transform: translateX(-50%);
  transition: top 600ms;
  z-index: 2;
}
.skip-header:focus {
  top: 5px;
  outline: none;
}

/* Header */
header {
  align-items: flex-end;
  /* background: linear-gradient(
    0deg,
    #60db57 0%,
    #9be996 33%,
    #c3f2c0 50%,
    #afedab 66%,
    #73e06c 100%
  ); */
  background: url(./img/circuit-board.svg) center repeat #73e06c;
  display: flex;
  justify-content: space-between;
  min-height: 124px;
  padding: 0 1vw;
  position: relative;
  transition: margin 300ms;
  z-index: 1;
}
.branding {
  align-self: center;
  height: 70px;
}
.header-links {
  display: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  text-align: center;
}
.main-menu {
  background-color: #73e06c;
  position: absolute;
  top: 0;
  transition: top 300ms, visibility 0ms 300ms;
  visibility: hidden;
  width: 100vw;
}
.link-container {
  margin: 0;
  padding: 6px;
}
.mobile-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mobile-links a {
  color: #a0222b;
  font-size: 17px;
  font-weight: bold;
  outline-color: #a0222b;
}
.mobile-links a:hover {
  color: #d7424c;
}
header a {
  color: #a0222b;
  font-size: 17px;
  font-weight: bold;
  margin: 0 1vw;
  text-align: center;
}
header a:hover {
  color: #d7424c;
}
header a:focus {
  outline-color: #a0222b;
}
.menu-open {
  align-self: center;
  margin: 0 8px;
  padding: 5px 5px 0px 5px;
}
.open-image {
  height: 27px;
  width: 27px;
}
.menu-close {
  align-self: center;
  display: none;
  margin: 0 8px;
  padding: 5px 5px 0px 5px;
}
.close-image {
  height: 27px;
  width: 27px;
}

/* Main */
main {
  background-color: #ebfbea;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #a0222b;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: #a0222b;
}
strong {
  color: #a0222b;
}
main a {
  color: #222ba0;
  font-weight: 500;
}
main a:hover {
  text-decoration: underline;
}
main a:focus {
  outline-color: #222ba0;
}
.desktop {
  display: none;
}
aside {
  flex-grow: 1;
}
.collaborate {
  height: auto;
  margin-top: 26.56px;
  width: 100%;
}
main ul {
  list-style: none;
}
main ul li::before {
  content: '\2022';
  color: #222ba0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Footer */
footer {
  align-items: center;
  background: url(./img/circuit-board.svg) center 10px repeat;
  border-top: 1px solid #73e06c;
  color: #a0222b;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: bold;
  padding: 16px 0;
}
.first-row {
  margin-bottom: 8px;
}
.first-row-1 {
  display: flex;
  justify-content: center;
}
.first-row-2 {
  display: flex;
  justify-content: center;
}
.first-row a {
  font-size: 14px;
  margin: 0 1vw;
}
.center-footer {
  margin: auto;
}
footer a {
  color: #a0222b;
  font-weight: bold;
}
footer a:hover {
  color: #d7424c;
}
footer a:focus {
  outline-color: #a0222b;
}

#main-menu:target {
  top: 124px;
  transition: top 300ms, visibility 0ms;
  visibility: visible;
}
#main-menu:target + header {
  margin-bottom: 105px;
}
#main-menu:target + header .menu-open {
  display: none;
}
#main-menu:target + header .menu-close {
  display: block;
}

@media screen and (min-width: 500px) {
  .skip-header {
    font-size: 17px;
  }
  .first-row {
    display: flex;
  }
}

@media screen and (min-width: 859px) {
  .mobile-links {
    display: none;
  }
  .branding {
    height: 88px;
    margin: 0px auto 0px 0px;
  }
  .header-links {
    display: flex;
    margin-left: 1vw;
  }
  .menu-open,
  .menu-close {
    display: none;
  }
  article {
    flex-basis: 300px;
    flex-grow: 3;
    margin-right: 25px;
  }
  aside {
    flex-basis: 150px;
    flex-grow: 1;
    margin-left: 25px;
  }
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .iframe-container {
    margin-bottom: 26.56px;
  }
  .collaborate {
    margin-top: 26.56px;
  }
  #main-menu:target + header {
    margin-bottom: 0;
  }
  #main-menu:target + header .menu-close {
    display: none;
  }
}
